/*------------------------------------------
Project Name : Avon
Desgined By  : Sharjeel Anjum
Developed By : sharjeel;
Date        :  14/Feb/2021;

Table Of Index
------------------
1. Base css
2. Typography css
3. Header css
4. Banner css
5. About Us css
6. How it works css
7. Services css
8. whychoose css
9. Gallery css
10. Pay Packages css
11. Testimonials css
12. Blog css
13. contact form css
14. Footer css
15. Single Portfolio css

------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    /* --primary-one: #f25500; */
    --primary-one:#ffd32c;
    --primary-text-color: #353f4f;
    --primary-five-light: #ffeddf;    
    --white: #ffffff;
    --black: #000000;
    --dark-bg: #282626;
    --light-bg:#919191;
    --primary-size:16px;
    --heading-size:48px;
    --sub-size:24px;
    --heading-3:18px;
    --heading-4:36px;
    --heading-5:30px;
    --font-bold:700;
    --font-semi:500;
    --font-reg:400;
    --font-montserrat: "Montserrat", sans-serif;
    --font-open: "Open Sans", sans-serif;
  }


  *{margin:0; padding:0;}
  body{font-family: var(--font-open);}

h1, h2, h3, h4, h5, h6{-webkit-font-smoothing:antialiased; font-family: var(--font-montserrat);}
h1{font-size:70px; font-weight:800; line-height:1.2; margin:0 0 10px; color:var(--white);}
h2{font-size:40px; color:#050505; margin:0 0 10px; font-weight:800; line-height:1.2;}
h3, h4{margin:0 0 10px; font-weight:700; line-height:1.7; color:#050505;}
h3{font-size:20px;}
h4{font-size:16px;}
a{color:var(--primary-one);}
h5, h6{font-size:16px; margin:0 0 10px;}
img{border:none; outline:none; max-width:100%;}
ul{display:block; list-style:none; padding:0; margin:0;}

.clearfix{clear:both;}
p{font-size:15px; margin-bottom:15px;}
a, a:hover{text-decoration:none;}
a:focus{outline:0; text-decoration:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#ddd !important;}
input:-moz-placeholder, textarea:-moz-placeholder{color:#ddd !important;}
input::-moz-placeholder, textarea::-moz-placeholder{color:#ddd !important;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#ddd !important;}
button{border:none; background:none;}
.edit_option{text-align:center;}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1250px;
}
.section {
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}
/*section-title*/
.section-title{text-align:center; margin-bottom:50px;}
.section-title h2{margin-bottom:20px; font-size:48px; line-height:48px; font-weight:700; color:var(--black); }
.section-title h2 span{display:block; font-size:24px; color:var(--white); font-weight:700; }
.section-title p{max-width:650px; line-height:26px; margin:0 auto; font-size:16px; color:#333; font-weight:normal; }
.section-title p span{font-weight:900;}
.section-title h5 {
  color: var(--primary-one);
  font-size: 24px;
  font-weight: 700;
}



/*button*/
.primary-btn{display:inline-block; font-size:16px; background:var(--primary-one); color:var(--white); border:1px solid #ff5a00; padding:0 30px; height:50px; line-height:50px; position:relative; -webkit-transition:0.3s; transition:0.3s; font-weight:700; text-align:center; border-radius:4px; -webkit-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08); -moz-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08); box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08);}


.btn-primary{background-color: var(--primary-one); color: var(--white); border: none; padding:15px 25px; border-radius: 5px; font-family: var(--font-montserrat); font-weight: var(--font-bold);}
.btn-primary:hover{background-color:var(--light-bg); color: var(--white);}

button:focus{outline:none;}
.primary-btn:hover{color:#000; background: #fff; border-color: #fff;}
.primary-btn:focus{outline:none; -webkit-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08); -moz-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08); box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08);}
/* Header Section */
.header-section{background-color:transparent; width:100%; height:115px; z-index:999; position:fixed; left:0; top:0; padding:10px 0;}
.navbar-fixed-top.header-section{background-color:var(--white); -webkit-box-shadow:0 0.1875rem 0.3125rem 0 rgba(44, 46, 48, 0.1); box-shadow:0 0.1875rem 0.3125rem 0 rgba(44, 46, 48, 0.1); height:100px; border-bottom:0; padding:0;}
.header-btn{background:var(--primary-one); color:var(--white); line-height:45px; padding:0 25px; font-weight:700; font-size:12px; text-transform:uppercase; border-radius:3px;}
.header-btn-two{background:transparent; color:var(--white); line-height:45px; padding:0 25px; font-weight:700; font-size:12px; text-transform:uppercase; border-radius:30px;}
.header-btn-two:hover{opacity:1; color:var(--white);}
.navbar-fixed-top.header-section .header-btn-two{color:#000;}
.header-btn:hover{opacity:0.8; color:var(--white);}
.navbar-fixed-top .header-btn{background:var(--primary-one);}
.navbar-fixed-top .header-btn:hover{background:var(--primary-one); color:var(--white);}
.navbar-fixed-top ul.nav > li > a{color:#555;}
.navbar-fixed-top ul.nav > li > a.active{color:#333;}
.navbar-fixed-top ul.nav > li > a:hover, .navbar-fixed-top ul.nav > li > a:focus, .navbar-fixed-top ul.nav > li.active > a{color:#777;}
.logo-light, .navbar-fixed-top .logo-light, .logo-dark, .navbar-fixed-top .logo-dark, .navbar-fixed-top.header-section, .header-section{transition:all 0.3s ease-in-out;}
.navbar{border:medium none; -moz-border-radius:0; -webkit-border-radius:0; -ms-border-radius:0; border-radius:0; margin:0; position:relative; padding:0;}
.navbar-header{padding:17px 0;}
.navbar-header .brand{font-size:25px; color:#333; letter-spacing:-1px; font-weight:600; margin-left:13px;}
.logo-dark{display:none;}
.navbar-fixed-top .logo-dark{display:block;}
.navbar-fixed-top .logo-light{display:none;}
.navbar-header .nav-btn{padding:8px; border-radius:1px;}
.navbar-header .nav-btn .icon-bar{background-color:var(--white); width:18px;}
.navbar-fixed-top .navbar-header .nav-btn .icon-bar{background-color:#777;}
.navbar-header .nav-btn:hover, .navbar-header .nav-btn:focus{opacity:0.8;}
/* Nav Menu */
#navbar{z-index:999; padding:0 15px;}
ul.nav{display:inline-block;}
ul.nav > li{display:inline-block;}
ul.nav > li > a{color:rgba(255, 255, 255, 0.9); display:inline-block; vertical-align:middle; padding:0 15px; letter-spacing:0; font-size:16px; font-weight:600; line-height:70px; z-index:1;}
ul.nav > li > a:hover, ul.nav > li > a:focus, ul.nav > li > a.active{background:none; color:var(--white); opacity:1;}
.menu-btn{margin-left:10px; margin-top:10px;}
/*Mobile Menu */
.mainmenu{margin-left:160px;}
.menu-wrap{position:relative;}
.slicknav_menu{background:none; padding:4px 0; display:none; width:100%; position:absolute; right:0; top:0; z-index:9;}
.slicknav_nav{background-color:var(--white);}
.slicknav_btn{background-color:transparent; margin:4px 0 0 0;}
.slicknav_nav .slicknav_row:hover, .slicknav_nav .slicknav_row, .slicknav_nav a, .slicknav_nav a:hover{-moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; border-radius:0;}
.slicknav_nav .slicknav_row, .slicknav_nav a{padding:10px 15px; margin:0; color:#777;}
.slicknav_nav a .caret{display:none;}
.slicknav_nav ul{margin:0;}
.slicknav_nav ul li a{padding-left:30px; font-size:12px;}
.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover{background-color:transparent; color:#333;}
.contact-menu{display:flex;}
.contact-menu .icon{margin-right:15px;}
.contact-number{margin-right:30px;}
.contact-menu .icon i{background:var(--primary-one); color:var(--white); font-size:18px; height:41px; width:41px; line-height:41px; text-align:center; border-radius:50%;}
.contact-number span{display:block; font-size:16px; text-transform:uppercase; color:#ffffff; line-height: 20px;}
.contact-number span a{font-size:24px; text-transform:uppercase; color:#ffffff; font-weight:700; }
.contact-number span a:hover{color: var(--primary-one);}
.navbar-fixed-top .contact-number span, .navbar-fixed-top .contact-number span a{color:#000;}
.navbar-fixed-top .contact-number span a:hover{color: rgb(81 27 198 / 1);}
/*banner*/
.bannerWrap{min-height:890px; width:100%; padding-top:80px; overflow:hidden; position:relative; background-size:cover; background-position:center center; background-repeat:no-repeat; background-color:var(--white); z-index:1;}
.bannerWrap .section-title{padding-top:100px;}
.bannerWrap .section-title h2{font-size:60px;}
.bannerBtn{display:block; text-align:center; margin-top:40px;}
.bannerBtn ul{list-style:outside none none; margin:0; padding:0;}
.bannerBtn ul li{display:inline-block; margin-right:23px;}
.bannerBtn ul li:last-child{margin:0;}
.bannerBtn ul li .popup-videos{width:60px; height:60px; line-height:60px; border-radius:100%; background:#ffffff; color:#453d4e; font-size:20px; text-align:center; display:inline-block;}
.bannerBtn ul li .btn-title{color:var(--white); line-height:24px; letter-spacing:1px; font-weight:600; font-size:18px; padding-left:15px; }
.bannerBtn ul li .popup-videos i{padding-left:5px;}
.bannerImg{margin-top:60px; text-align:center;}


/*********************************************		Revolution slider options**********************************************/ 
.tp-banner-container {
  position: relative;
  padding: 0;
  width: 100%;
}
.tp-banner-container li::before{
  background: rgba(0,0,0,0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  right: 0;
}
.tp-banner {
  position: relative;
  width: 100%;
}
.tp-banner ul {
  padding: 0;
  margin: 0;
}
.tp-caption {
  line-height: normal !important
}
.tp-caption a {
  color: inherit !important;
}
.tp-bullets.simplebullets.round .bullet {
  border: 3px #fff solid;
  border-radius: 50%;
  background-image: none !important;
}
.tparrows {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
}
.tp-arr-allwrapper {
  margin: 0 10px;
  width: 50px;
  height: 60px;
}
.tp-arr-allwrapper:hover .tp-arr-iwrapper {
  color: #fff;
}
.tp-leftarrow .tp-arr-allwrapper {}
.tp-rightarrow .tp-arr-allwrapper {}
.tp-arr-iwrapper {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: 'Font Awesome 5 Free';
  line-height: 60px;
	font-weight: 900;
}
.tp-leftarrow .tp-arr-iwrapper {}
.tp-leftarrow .tp-arr-iwrapper:before {
  content: "\f104";
}
.tp-rightarrow .tp-arr-iwrapper:before {
  content: "\f105";
}
.tp-rightarrow .tp-arr-iwrapper {}
.slide-h1 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 57px;
}
.slide-h2 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #555;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;
}
.big-font {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
}
.large-desc {
  font-size: 16px;
}
.slide-h3 {
  color: #fff;
  font-size: 31px;
  line-height: 100%;
}
.slide-h3 span {
  text-transform: uppercase;
  font-weight: bold;
}
.slide-head {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}
.slide-desc {
  font-size: 22px;
  line-height: 150%;
}
.main-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 70px;
}
.icon-cont {
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
}
.icon-cont:after {
  position: absolute;
  bottom: -10px;
  left: 40%;
  z-index: 5;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  content: "";
}
.icon-cont i {
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
}
.icon-cont span {
  display: block;
  padding: 0 0 5px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
a.wit-btn {
  background: #fff;
  color: #333 !important;
  text-transform: uppercase;
}
.wit-line {
  width: 5%;
  height: 1px;
  background: #fff;
}
.vert-line {
  min-height: 270px;
  width: 1px;
  background: #fff;
}
.subTxt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}
.large-title {
  color: #222;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase !important;
}
.large-light-title {
  color: #787878 !important;
  font-size: 70px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px
}
.large-text {
  font-size: 20px;
  color: #000;
  font-weight: lighter;
}
.larger-text {
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}
.witTxt {
  color: #fff !important;
}
.light-font {
  font-weight: lighter !important;
  font-size: 50px;
}
.black-bg {
  background: rgba(0, 0, 0, .63);
  color: #a8a8a8;
  text-transform: none;
}
.lft-list {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}
.wit-border {
  border: 1px #fff solid;
  padding: 15px 60px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.rounded-bord {
  margin-right: 15px;
  border: 1px #fff solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  border-radius: 50%;
}
#vertical-ticker {
  height: 120px;
  overflow: hidden;
}
#vertical-ticker li {
  padding: 15px 20px;
  display: block;
  text-align: center;
}
.to-bottom i.fa {
  font-size: 30px;
  border: 2px #a8a8a8 solid;
  padding: 20px 22px;
  border-radius: 50%;
  -webkit-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
}
.slidertext1 {
  color: white;
  font-size:60px;
  font-weight: 700;
  padding: 15px 0;
  text-transform: none !important;
  font-family: 'Roboto', sans-serif;
}
.slidertext1 span {
  color: #f9c200;
}
.slidertext2 {
  color:white;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
}
.sliderpara {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  text-transform: none !important;
}
.section-btn {
    background: #f9c200;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    margin-top: 22px;
    text-transform: uppercase;
    border: none;
	border-radius: 5px;
}
.sliderbtn a {
  color: #fff !important;
}
.sliderbtn a:hover {
  color: #000 !important;
}
.tp-bannertimer {
  display: none;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
} /* Mozilla Firefox 15 below */ @-moz-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
} /* Opera 12.0 */ @-o-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
} /* W3, Opera 12+, Firefox 16+ */ @keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}


.slider-wrap{padding:250px 0 120px 0; height: 845px; position: relative;} 
.slider-wrap::before {
  background: rgba(0,0,0,0.5  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.banner_info{position: relative; z-index: 1; max-width: 680px;}

.slider-wrap h1{font-size:64px; font-weight: var(--font-bold); color:var(--white); text-transform: uppercase; line-height: 66px;}
.slider-wrap h2{font-size:30px; font-weight: var(--font-bold); color:var(--primary-one);}
.slider-wrap p{font-size:var(--heading-3); font-weight: var(--font-bold); color:var(--white); font-family: var(--font-montserrat); margin-top: 20px;}






/*about*/
.aboutWrap{position:relative; padding:60px 0;}
.aboutWrap .section-title{padding-top:20px; text-align:left;}
.aboutWrap .section-title h2{margin-bottom:20px; font-size:42px; line-height:48px; font-weight:700; color:#000;}
.aboutWrap .section-title h2 span{color:var(--primary-one); font-size:42px; display:inline-block; font-weight:normal;}
.aboutWrap .section-title p{max-width:650px; line-height:26px; margin:0 auto; font-size:16px; color:#000; white-space: pre-wrap;}
.core-features{padding:0; margin:0; list-style:none;}
.core-features li{margin-bottom:35px;}
.core-features li:last-child{margin-bottom:0;}
.core-features li .aboutIconImg{display:block; float:left; width:95px; height:95px; border-radius:10px; border:1px solid var(--primary-one); line-height:88px; text-align:center;}
.core-features li .aboutContent{display:table-cell; padding-left:20px;}
.core-features li .aboutContent h4{color:#343c47; font-size:24px; font-weight:700; margin-bottom:5px;}
.core-features li .aboutContent p{color:#5c5c5c; font-size:16px; margin-bottom:0;}


/*servieWrap*/
.servieWrap{position:relative; background:#eff3fa; padding:50px 0;}
.servieWrap .section-title h2{color:var(--primary-one);}
.servieWrap .section-title h2 span{color:#000;}
.servieWrap .section-title p{color:#000;}

.service-box{background:#fff; border-radius:15px; box-shadow:0px 15px 30px rgba(0, 0, 0, 0.08); margin-bottom: 30px;}

.serviceimage{ overflow: hidden; border-radius:15px 15px 0 0; }
.serviceimage img, .servimg img{-webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;}
  .service-box:hover .serviceimage img, .service-grids .col-lg-4:hover .servimg img{    -webkit-transform: scale(1.1);
    transform: scale(1.1);}



.service-box .details{padding:35px 25px;}
.service-box .details h4{color:#000; font-size:24px; margin-bottom:0px; font-weight:700;}
.service-box .details h4 a{color:#000;}
.service-box .details .text{color:#000; font-size:16px; font-weight:700;}
.service-box .details p{margin-bottom:20px;}
.service-box .details .primary-btn{font-weight:normal; font-size:16px; background:var(--primary-one); color:var(--white); border:1px solid var(--primary-one);}
.service-box .details .primary-btn:hover{background:var(--primary-one); color:#000; border:1px solid var(--primary-one);}
.service-box .details .primary-btn i{padding-right:10px;}




/*featureWrap*/
.featureWrap{padding-top:80px; padding-bottom:45px;}
.featureWrap .section-title p{color:#555; font-size:16px;}
.featureWrap .section-title h5{color:var(--primary-one); font-size:24px;font-weight:700;}
.featureWrap .section-title .primary-btn{font-size:18px;}
.featureWrap .core-features{margin-top:60px;}
.featureWrap .core-features li{margin-bottom:30px; text-align:center;}
.featureWrap .core-features li .aboutIconImg{display:inline-block; float:none; width:75px; font-size:36px; height:75px; color:var(--white); border-radius:10px; border:none; background:var(--primary-one); line-height:75px; text-align:center; font-weight:600; -webkit-transition: 0.3s ease-in-out;  transition: 0.3s ease-in-out;}
.featureWrap .core-features li:hover .aboutIconImg{box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3); background: var(--white); color: var(--primary-one);     transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);}


.featureWrap .core-features li .aboutContent{display:block; padding-left:0; padding-top:20px;}
.featureWrap .core-features li .aboutContent h4{color:#000; font-size:20px; font-weight:700;}
.featureWrap .core-features li .aboutContent p{color:#666; font-size:16px; margin-bottom:0;}
.featureImg{text-align:center;}


/*industries*/
.industriesbg{background: #eee;}
.indsbox{background: var(--white); border-radius: 7px; box-shadow:0 3px 30px rgba(0,0,0,0.07); border-radius: 7px; padding:30px 15px; text-align: center; margin-top: 30px; min-height: 178px;}
.indsbox h3{font-size: 16px; color: var(--primary-one); margin-top: 15px; margin-bottom: 0; font-weight: 500; line-height: 20px;}





/*thinkWrap*/
.thinkWrap{background:#343c47 url('../images/contact-bg.jpg') no-repeat; background-size: cover; padding:50px 0px; text-align:center; position:relative;}
.thinkWrap h2{margin-bottom:30px; font-size:48px; line-height:48px; font-weight:700; color:var(--white); }
.thinkWrap h2 span{display:block; font-size:36px; line-height:48px; font-weight:700; color:var(--white); }
.thinkWrap p{padding-bottom:40px; font-size:18px; font-weight:normal; color:var(--white); margin:0px; }
.thinkWrap .primary-btn{font-size:18px; }
.thinkWrap .primary-btn + .primary-btn{margin-left:15px; font-size:18px; color:#000000; background:#fff; border-color:var(--white); }
.thinkWrap .primary-btn + .primary-btn:hover{    background: var(--primary-one); color: #fff; border: 1px solid var(--primary-one);}
/*counterWrap*/
.counterWrap{position:relative; background:#eff3fa url('../images/hero-2-bg.jpg') no-repeat; background-size: cover; padding:60px 0;}
.counterWrap .counter{padding:25px 20px; border-radius:4px; text-align:center;}
.counterWrap .counter h3{color:#000; font-size:24px; line-height:28px; font-weight:700; position:relative; margin-bottom:10px;}

.counterWrap .counter h2{color:var(--primary-one); font-size:72px; font-weight:400; position:relative; margin-bottom: 0;}
.counterWrap .counter p{color:#2a2633; font-size:16px; font-weight:normal; margin-bottom:5px;}
/*testimonialsWrap*/
.testimonialsWrap{padding:60px 0; background:#F8F8F9;}
.testimonialsWrap .section-title p{color:#000; font-size:24px; font-weight:700;}
.testimonialsWrap .section-title h2{color:var(--primary-one);}
.testimonialsWrap .testimonials_sec{padding:30px; background:#fff; border:1px solid #ddd; border-radius:4px;}

.error{
    color: red;
  }
.large-title p{
        color: white !important;
        font-size: 18px !important;
    }
.client_box{display:flex; justify-content:space-between; margin-top:20px;}
.innerPages .client_box{display:flex; justify-content:left; margin-top:0;}
.innerPages .clientImg{margin-right: 20px;}



.testimonials_sec h3{font-size:18px; color:#242424; display:inline-block; font-weight:700; line-height:24px;}
.testimonials_sec h3 span{display:block; font-size:16px; color:#959595; font-weight:normal; text-transform:none;}
.testimonials_sec p{color:#7f7f7f; font-style: italic;}

.innerPages .testimonials_sec p{margin-bottom: 0;}
.clientImg{text-align:right;}
.clientImg img{width:70px; height:70px; text-align:center; display:block; border:2px solid #567df4;}
.quote_icon{position:absolute; font-weight:600; bottom:30px; right:80px; font-size:24px; color:#aabef9;}
.starWrp{margin-bottom:15px !important;}
.starWrp li{display:inline-block; font-size:18px; color:#ffc700; padding:0 !important;}
.testimonialsWrap .owl-nav{display:none;}








/********* Testimonials *********/
.testimonialsWrap{background: #f9f9f9;}
.testimonialsWrap .testiBox {
    background-color:var(--white);
    position: relative;
    border-radius: 10px;
    padding:30px 30px 50px 30px;text-align: center;
    border: 1px solid #eee;
  }
  .testimonialsWrap .testimonials{text-align: center;}
  .testimonialsWrap .testimonials .author {
    font-family: "Montserrat", sans-serif;
    font-size:var(--heading-3);
    color: #000;
    line-height: 28px;
    font-weight: var(--font-bold);
    margin-top: 15px;
  }
  .testimonialsWrap .testimonials .author .destination {
    color:var(--primary-one);
    font-size: 14px;
    display: block;
  }
.avatar{width: 86px; height: 86px; border-radius: 50%; border:4px solid #fff; box-shadow: 0 0 15px rgba(0,0,0,0.2); margin: 0 auto; margin-top: -40px; overflow: hidden; position: relative; z-index: 1;}

  .testimonialsWrap .testiBox .ratingStars {
    position: relative;
  }
  .testimonialsWrap .testiBox .ratingStars ul {
    padding-left: 0px;
    margin: 20px 0 20px;
    display: block;
  }
  .testimonialsWrap .testiBox .ratingStars ul li {
    display: inline-block;
    padding-right: 2px;
    font-size: 16px;
    color: var(--primary-one);
  }
  .testimonialsWrap .testiBox p {
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: var(--primary-size);
    font-style: italic;
    margin-bottom: 0;
  }
  .testimonialsWrap .testimonials {
    position: relative;
    margin-top: 40px;
    text-align: center;
  }
  .testimonialsWrap .testimonials .owl-nav {
    display: none;
  }
  .testimonialsWrap .testimonials .owl-dots {
    margin-top: 25px;
  }
  .testimonialsWrap .testimonials .owl-dots button {
    width: 25px;
    height:7px;
    border: 1px solid #c7cacf;
    background: #c7cacf;
    margin: 5px;
  }
  .testimonialsWrap .testimonials button.active,
  .testimonialsWrap .testimonials button:hover {
    background: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
  }

  .quote{margin-bottom: 20px;}
  .owl-carousel .owl-item img{width: auto; display: inline-block;}








/********* Industries *********/
.techlist{display: flex; flex-wrap: wrap; justify-content: center;}
.techlist li{flex: 0 0 auto; width:12.5%; margin-top: 30px;}







.workWrap{background:#fff; padding:50px 0;}
.workWrap .section-title{text-align:center; margin-bottom:35px;}



.gallery-item-content .item-thumbnail{margin-bottom:30px; position:relative; overflow:hidden;}
.gallery-item-content .item-thumbnail .content-overlay{position:absolute; top:7%; left:5%; width:0%; height:86%; background:rgb(242 85 0 / 0.7); -webkit-transition:all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25); -moz-transition:all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25); -o-transition:all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25); transition:all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);}


.gallery-item-content .item-thumbnail .content-overlay .content .links a{position:absolute; right:4%; top:10%; width:40px; height:40px; line-height:40px; border-radius:50%; border:1px solid #fff; text-align:center; font-size:20px; color:var(--white); -webkit-transition:all .5s; -o-transition:all .5s; transition:all .5s; -webkit-transform:translateX(50px); -ms-transform:translateX(50px); transform:translateX(50px); opacity:0; visibility:hidden;}
.gallery-item-content .item-thumbnail .content-overlay .content .links a + a{right:15%;}
.gallery-item-content .item-thumbnail .content-overlay .content .links a:hover{background:#fff; color:#000;}
.gallery-item-content .item-thumbnail .content-overlay .content .links a.image-preview{margin-right:12px;}
.gallery-item-content .item-thumbnail .content-overlay .content .info{position:absolute; bottom:10%; left:10%; overflow:hidden;}
.gallery-item-content .item-thumbnail .content-overlay .content .info .tag{margin-bottom:0px; color:#f3f3f3; font-weight:400; font-size:16px; line-height:24px; opacity:0; visibility:hidden; -webkit-transform:translateY(50px); -ms-transform:translateY(50px); transform:translateY(50px); -webkit-transition:all .4s; -o-transition:all .4s; transition:all .4s;}
.gallery-item-content .item-thumbnail .content-overlay .content .info .project-name{font-size:18px; line-height:28px; font-weight:600; margin-top:0px; color:var(--white); opacity:0; visibility:hidden; -webkit-transform:translateY(50px); -ms-transform:translateY(50px); transform:translateY(50px); -webkit-transition:all .4s; -o-transition:all .4s; transition:all .4s;}
.gallery-item-content .item-thumbnail:hover .content-overlay{opacity:1; width:90%;}
.gallery-item-content .item-thumbnail:hover .content-overlay .content .links a{-webkit-transform:translateX(0px); -ms-transform:translateX(0px); transform:translateX(0px); opacity:1; visibility:visible; -webkit-transition-delay:.3s; -o-transition-delay:.3s; transition-delay:.3s;}
.gallery-item-content .item-thumbnail:hover .content-overlay .content .info .tag{opacity:1; visibility:visible; -webkit-transform:translateY(0px); -ms-transform:translateY(0px); transform:translateY(0px); -webkit-transition-delay:.3s; -o-transition-delay:.3s; transition-delay:.3s;}
.gallery-item-content .item-thumbnail:hover .content-overlay .content .info .project-name{opacity:1; visibility:visible; -webkit-transform:translateY(0px); -ms-transform:translateY(0px); transform:translateY(0px); -webkit-transition-delay:.5s; -o-transition-delay:.5s; transition-delay:.5s;}



.post-desc ul{ list-style: none; margin-bottom:30px;}
.post-desc ul li{position:relative; padding-left:25px; font-size: 16px; font-family: 'Montserrat', sans-serif; }
.post-desc ul li:before{  
	font-family: 'Font Awesome 5 Free'; font-weight: bold;
    content: '\f00c';
    position:absolute; top:0; left:0;
    color:#222222;
}
.post-desc ul li{margin-bottom:12px;}
.post-desc p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}
.post-desc p:empty{display: none;}

/*blogWrap*/
.blogWrap{background:#fff; position:relative; padding:50px 0;}
.blogWrap .section-title p{color:#000; font-size:24px; font-weight:700;}
.blogWrap .section-title h2{color:var(--primary-one);}
.blogWrap .post{position:relative; border-radius:4px; overflow:hidden;}
.blogWrap .post .post-desc .date{position:absolute; top:-35px; right:25px; padding:15px; background:var(--primary-one); color:var(--white); width:65px; height:65px; line-height:18px; text-align:center;font-size:16px; font-weight:700;}
.blogWrap .post .post-desc .date span{display:block; font-size:16px; font-weight:normal; line-height:16px;}
.blogWrap .post .post-image{overflow:hidden; position:relative;}
.blogWrap .post .post-desc{position:relative; padding:25px 0; background:#ffffff; -webkit-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3); box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3);}
.blogWrap .post-title{position:relative; margin-top:0;}
.blogWrap .post .post-title h4{font-size:18px; font-weight:700; }
.blogWrap .post .post-title h4 a{color:var(--primary-one);}
.blogWrap .post .post-desc p{color:#5c5c5c; margin-bottom:20px;}
.blogWrap .post .post-desc .primary-btn{height:auto; line-height:0; padding:0; background:transparent; border-color:transparent; box-shadow:none; color:#343c47; margin-bottom:15px; font-size:16px; font-weight:700; }
.blogWrap .post .post-desc .primary-btn:hover{color: var(--primary-one);}
.blogWrap .post .post-desc .primary-btn i{margin-left:10px;}
/*footer*/
footer{background:#22272e; padding-top:50px; text-align: center}
footer h3{font-size:20px; font-weight:600; line-height:30px; color:var(--white); }
footer .footer-list ul{list-style:none; margin:0px; text-align: center;}
footer .footer-list ul li{font-size:16px; font-weight:normal; line-height:30px; color:#c9c9c9; display: inline-block; margin: 0 10px;}
footer .footer-list ul li a{color:#c9c9c9;}
footer .footer-list ul li a:hover{color:var(--white);}
footer .footer-adress{list-style:none;}
footer .footer-adress li{margin:0; padding-bottom:15px;}
footer .footer-adress li .ftadress{border: 1px solid rgba(255,255,255,0.1); padding: 20px;background: #272d34;}
footer .footer-adress li i{vertical-align:top; color:var(--primary-one); font-size: 36px; margin-bottom: 10px; display: block;}
footer .footer-adress li strong{color: #777; display: block;}
footer .footer-adress li span a, .footer-adress li span{font-size:16px; color:var(--white); text-decoration:none;}
footer .footer-adress li span a:hover{color:var(--primary-one);}
footer .footer_phone a{font-weight:700; font-size:24px !important;}
footer .logo-footer{margin-top:20px; margin-bottom: 20px;}
footer .social_icons_footer{text-align:center;}
footer .social_icons_footer ul{list-style:none; margin:0px; padding-top:20px;}
footer .social_icons_footer ul li{display:inline-block; padding-right:10px; font-size:30px; color:var(--white);}
footer .social_icons_footer ul li a{color:var(--white);}
footer .social_icons_footer ul li a:hover{color:var(--primary-one);}
footer .copyright{margin-top:30px; color:#c9c9c9; border-top:1px solid #4e5258; padding:20px 0;}
footer .copyright p{margin:0px;}
/* Scroll To Top */
#scroll-to-top{background-color:var(--primary-one); display:none; width:45px; height:45px; text-align:center; font-size:16px; border-radius:50%; line-height:45px; color:var(--white); position:fixed; bottom:20px; right:20px; z-index:999;}
#scroll-to-top:hover{background-color:#444; color:var(--white);}


/*page-title-area*/
.page-title-area{background: url('../images/inner-hero1.JPG') no-repeat; background-size: cover; position:relative; z-index:10; height: 400px;  padding-top: 240px;}
.page-title-area::before {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.page-title-area .page-title{position:relative;}
.page-title-area .page-title .title{color:var(--white); font-size:48px; padding-bottom:0px; font-weight:700; text-transform:capitalize; margin-bottom:0; line-height:50px;}
.page-title-area .page-title p{color:var(--white); font-size:18px;}
.page-title-area .page-title nav{text-align: right;}
.page-title-area .page-title nav:after{clear: both; content:''; display: table;}
.page-title-area .page-title nav ol{margin:0; margin-top: 10px; background-color: transparent; padding: 0; float: right;}
.page-title-area .page-title nav ol li{font-size:16px; font-weight:700; color:#ff5a00;}
.page-title-area .page-title nav ol li a{font-size:16px; font-weight:700; color:var(--white);}
.breadcrumb-item + .breadcrumb-item::before{content:"|"; color:var(--white);}
.breadcrumb-item.active{color:#6c757d;}
/*contactUs*/
.innerPages{padding:60px 0px 60px;}
.innerPages p a{font-weight:600;}
.innerPages p a + a{    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #000000;
}
.innerPages .section-title{text-align:left;}
.innerPages .item{margin-bottom: 30px; position: relative;}
.innerPages .item:last-child{margin-bottom: 0px;}
.innerPages .section-title h2{color:#000;}
.innerPages .section-title p{font-size:18px; color:#000;}
.contact-inner{margin-bottom: 30px;}
.contact-inner .section-title{margin-bottom: 15px;}
.contact-inner .section-title p{max-width: none;}

.contact-media i{line-height:60px; font-size:30px; color:var(--primary-one); vertical-align:middle; display:inline-block; width:60px; height:60px; background:#ffffff; text-align:center; border-radius:50%; margin-right:15px; -webkit-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); -moz-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); box-shadow:0 8px 40px -5px rgba(9,31,67,.1);}
.contact-media h5{font-size:20px; color:var(--primary-one); font-weight:normal; display:block; margin-bottom:10px;}
.contact-media p{margin:0; line-height:24px; color:#322f55;}
.contact-media a{color:#322f55;}
.contact-media a:hover{color:var(--primary-one);}

.contact-media li{margin-bottom: 20px; background: #fff; padding:25px; border: 1px solid #eee; display: flex; box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08); border-radius: 10px;}

.contact-media.style-2 li{border-radius:5px; min-height:185px; width:calc((100% - 150px) / 3); float:left; display:block; text-align:center; background:#ffffff; padding:50px; position:relative; margin:0 30px;}
.contact-media.style-2 li:last-child{margin-right:0;}
.contact-media.style-2 i{margin-right:0; position:absolute; left:-30px;}
.form-group{margin-bottom:20px; position:relative;}
.about__img{margin-bottom:20px;}
label{font-size:16px; color:#322f55;}
.form-control{height:50px; border-radius:0; font-size:13px; color:#322f55; background:none; border:none; border:1px solid #ddd;}
.theme-bg .form-control, .dark-bg .form-control{background:none; border-bottom-color:#ffffff;}
.dark-bg .form-control, .theme-bg .form-control{color:#ffffff;}
.grey-bg .form-control{background:#ffffff;}
textarea.form-control{height:150px;}
.form-control:focus{box-shadow:none; background:none; border-color:#7329c2;}
.theme-bg .form-control:focus{border-color:var(--primary-one);}
.help-block.with-errors{position:absolute; color:red; right:15px; font-size:10px; line-height:14px;}
.form-control::-webkit-input-placeholder{color:#555;}
.form-control::-moz-placeholder{color:#555;}
.form-control:-ms-input-placeholder{color:#555;}
.form-control:-moz-placeholder{color:#555;}
.dark-bg .form-control::-webkit-input-placeholder, .theme-bg .form-control::-webkit-input-placeholder{color:#ffffff;}
.dark-bg .form-control::-moz-placeholder, .theme-bg .form-control::-moz-placeholder{color:#ffffff;}
.dark-bg .form-control:-ms-input-placeholder, .theme-bg .form-control:-ms-input-placeholder{color:#ffffff;}
.dark-bg .form-control:-moz-placeholder, .theme-bg .form-control:-moz-placeholder{color:#ffffff;}
.singpageWrap .carousel{margin-bottom:25px;}
/*sidebar*/
/*featuredWrapp*/
.featuredWrapp .accordion {margin-top:25px;}
.featuredWrapp .card{margin-bottom:5px;}

.featuredWrapp .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left; color:#fff !important; text-decoration:none; font-size:15px; text-transform:capitalize !important;
}
.featuredWrapp .card-header{background: rgb(81,27,198); color:var(--white); padding: 6px;
    background: linear-gradient(90deg, rgba(81,27,198,1) 0%, rgba(122,23,197,1) 100%);
	}
.featuredWrapp .collapsible-link::before {
    content: '\f067';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;color:var(--white);
 
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
 
}
.featuredWrapp .collapsible-link[aria-expanded='true']::before {
    content: '\f068';
}

.workdetails{border-bottom: 1px solid #eee; padding-bottom: 30px; margin-bottom: 30px;}
.workdetails h5{font-size: 24px; font-weight: 700; margin-bottom: 0;}
.workdetails .projinfo{margin-top: 10px;}
.workdetails .projinfo.doservice span{display: inline-block; background: #eee; padding: 5px 10px; border-radius: 5px; margin-right: 5px}
.workdetails .projinfo .url{color:var(--primary-one);}


.projbtn{margin-top: 15px;}
.projbtn .primary-btn:hover{background: #222222; color: #fff;}



.projdetails h1{font-size:24px; color: #444;}
.projdetails p{font-size: 16px; line-height: 26px;}
.projdetails ul li{position:relative; padding-left:25px; margin-bottom: 8px; font-size: 16px;}
.projdetails ul li:before{  
	font-family: 'Font Awesome 5 Free'; font-weight: bold;
    content: '\f00c';
    position:absolute; top:0; left:0;
    color:#222222;
}


 
/*sidebar*/ 
.sidebar .widget{padding:30px; margin-bottom:25px; background-color:#f5f5f5;}
.sidebar .widgett{background: rgb(81,27,198);
background: linear-gradient(90deg, rgba(81,27,198,1) 0%, rgba(122,23,197,1) 100%);}
.sidebar .widget .widget-title{font-size:20px; margin-bottom:20px; line-height:1; position:relative; font-weight:600;}
.sidebar .widgett .widget-title{color:var(--white);}
.sidebar .widgett .widget-title:before{background-color:var(--white);}
.sidebar .widgett .form-control{height:50px; border-radius:0; font-size:13px; color:var(--white); background:none; border:none; border-bottom:2px solid #ffffff;}
.sidebar .widgett .text-muted{color:#fff!important;}
.widget .primary-btn{width:100%;}
.widget .projinfo{margin-top:30px;}
.widget .projinfo strong{display:block; color:var(--primary-one); text-transform:uppercase;}
.widget .projinfo span{display:block; color:#999; margin-top:5px;    word-break: break-all;}
.widget .projbtn{text-align:center; margin-top:30px;}
.widget .projbtn a{width:100%;}
.clientcmnt{text-align:center;}
.clientcmnt img{width:150px; height:150px; border-radius:50%; margin-bottom:10px;}
.clientcmnt p{font-size:18px; font-style:italic;}
.clientint{color:#000; margin-top:20px;}
.clientint strong{color:var(--primary-one);}
.bulletlist li{margin-bottom:15px; letter-spacing:1px; padding-left:25px; position:relative;}
.bulletlist li:before{content:'\f00c'; font-family:'Font Awesome 5 Free'; font-weight:900; left:0; position:absolute; color:var(--primary-one);}
.sidebar .widget.about-author-widget .author-box{font-size:16px; text-align:center;}
.sidebar .widget.about-author-widget .author-box h6{font-size:18px; margin-top:30px; font-weight:700;}
.sidebar .widget.about-author-widget .author-box .social-icon{justify-content:center;}
.sidebar .widget.about-author-widget .author-box .social-icon li{display:inline-block; margin:0 5px;}
.sidebar .widget.about-author-widget .author-box .social-icon li a{padding:5px; color:#b3bed3;}
.sidebar .widget.about-author-widget .author-box .social-icon li a:hover{color:var(--primary-one);}
.sidebar .widget.search-widget form{position:relative;}
.sidebar .widget.search-widget form input{width:100%; background-color:var(--white); height:60px; border:none; padding-left:20px; padding-right:60px; font-size:16px;}
.sidebar .widget.search-widget form input::placeholder{color:#14212b;}
.sidebar .widget.search-widget form button{border:none; position:absolute; right:0; top:0; width:60px; height:100%; z-index:1; background-color:var(--primary-one); font-size:16px; transition:all 0.3s ease-out 0s; color:var(--white);}
.sidebar .widget.search-widget form button:hover{background-color:#14212b; color:var(--white);}
.sidebar .widget.popular-feeds .single-popular-feed{display:flex; margin-bottom:10px; padding-bottom:10px;}
.sidebar .widget.popular-feeds .single-popular-feed:last-child{margin-bottom:0; padding-bottom:0;}
.sidebar .widget.popular-feeds .single-popular-feed .feed-img{width:80px; margin-right:15px; border-radius:50%; height:80px;}
.sidebar .widget.popular-feeds .single-popular-feed .feed-desc{width:calc(100% - 95px);}
.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title{font-size:16px; font-weight:600; margin-bottom:5px; line-height:1.5; margin-top: 0;}
.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a{color:var(--primary-one);}
.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time{font-weight:500; font-size:16px;}
.sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time>i{margin-right:4px;}
.sidebar .widget.categories-widget ul li{margin-bottom:10px;}
.sidebar .widget.categories-widget ul li:last-child{margin-bottom:0;}
.sidebar .widget.categories-widget ul li a{font-size:16px; display:block; position:relative; color:#14212b; transition:all 0.3s ease-out 0s; font-weight:500;}
.sidebar .widget.categories-widget ul li a span{position:absolute; right:0; top:0; width:20px; height:20px; line-height:20px; text-align:center; background-color:var(--primary-one); color:var(--white); transition:all 0.3s ease-out 0s;}
.sidebar .widget.categories-widget ul li a:hover{color:var(--primary-one);}
.sidebar .widget.categories-widget ul li a:hover span{background-color:var(--primary-one);}
.sidebar .widget.social-widget ul li{display:inline-block; margin-right:10px;}
.sidebar .widget.social-widget ul li a{height:40px; width:40px; line-height:40px; font-size:15px; background-color:#f5f5f5; color:#000; text-align:center; display:inline-flex; align-items:center; justify-content:center;}
.sidebar .widget.social-widget ul li a:hover{background-color:var(--primary-one); color:var(--white);}
.sidebar .widget.twitter-feed-widget ul li{margin-bottom:20px; padding-bottom:20px; font-size:12px; padding-left:35px; position:relative; font-weight:500; line-height:1.9;}
.sidebar .widget.twitter-feed-widget ul li a{color:#14212b;}
.sidebar .widget.twitter-feed-widget ul li:last-child{margin-bottom:0; padding-bottom:0;}
.sidebar .widget.twitter-feed-widget ul li:before{position:absolute; left:0; top:0; content:"\f099"; font-family:Font Awesome\ 5 Brands; font-size:16px; color:var(--primary-one); display:block; background-color:transparent;}
.sidebar .widget.twitter-feed-widget ul li .date{margin-top:10px; font-weight:700; font-family:'Playfair Display', serif; display:flex; font-size:16px;}
.sidebar .widget.instagram-feed-widget{padding-bottom:25px;}
.sidebar .widget.instagram-feed-widget ul{margin-right:-15px;}
.sidebar .widget.instagram-feed-widget ul li{width:calc(33.33% - 15px); margin-bottom:15px; margin-right:15px;}
.sidebar .widget.popular-tag-widget{padding-bottom:30px;}
.popular-tag-widget .tags>a{display:block; justify-content:center; padding:0px 15px; text-transform:uppercase; font-size:15px; font-weight:600; margin-right:0; margin-bottom:0; color:var(--primary-one);}
.popular-tag-widget .tags>a:hover{color:var(--primary-one);}
ul.custom-flex{list-style:none; padding:0; display:flex; align-items:center; flex-wrap:wrap;}
ul.custom-flex>li, ul.custom>li{margin-bottom:0; padding-left:0;}
ul.custom-flex>li:before, ul.custom>li:before{display:none;}
.blogWrap .col-lg-6{margin-bottom:30px;}
.blogWrap .pagination{list-style:none; padding:0;}
.blogWrap .pagination li{margin-bottom:0; padding-left:0;}
.blogWrap .pagination li a{padding:8px 20px; font-size:16px; line-height:1.5; border:2px solid #efefef; color:#14212b; width:50px; font-weight:600; height:50px; display:flex; align-items:center; justify-content:center; margin:0 5px;}
.blogWrap .pagination li.active a{z-index:3; color:var(--white); background-color:#007bff; border-color:#007bff;}
.blogWrap .pagination li.active a, .blogWrap .pagination li a:hover{background-color:var(--primary-one); border-color:var(--primary-one); color:var(--white);}
.blog-post{position:relative; border-radius:4px; overflow:hidden;}
.blog-post .post-image{overflow:hidden; position:relative;}
.blog-post .post-desc{padding:30px 0; background:#ffffff;}
.blog-post .post-meta ul li{background:#f5f5f5; font-size:16px; font-weight:normal; display:inline-block; padding:5px 5px 5px 25px; vertical-align:middle; margin:0 10px 0 0; color:#000; list-style-type:none; position:relative;}
.blog-post .post-meta ul li i{color:#03d665;}
.blog-post .post-meta ul li:last-child{margin-right:0;}
.blog-post .post-meta ul li:before{left: 5px; top: 5px;}

.blog-post .post-title{position:relative; margin-top:20px;}
.blog-post .post-title h2{font-size:36px; font-weight:700;}
.blog-post .post-desc p{margin:15px 0; font-size:16px; color:#828893;}
.blog-post .post-queto{background:#ffffff; color:#322f55; padding:30px; font-size:18px; font-style:italic; line-height:30px; border-radius:7px; -webkit-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); -moz-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); box-shadow:0 8px 40px -5px rgba(9,31,67,.1);}
.media-holder .media{position:relative;}
.media-holder .media img{border-radius:50%; width:100px; -webkit-box-shadow:0 20px 40px 0 rgba(28, 30, 35, 0.2); -moz-box-shadow:0 20px 40px 0 rgba(28, 30, 35, 0.2); box-shadow:0 20px 40px 0 rgba(28, 30, 35, 0.2);}
.media-holder .media-body{background:#ffffff; padding:30px; border-radius:7px;}
.media-holder .media-body h6{color:#322f55; margin-bottom:0; font-weight:600; font-size:20px; text-transform:capitalize; display:inline-block; vertical-align:middle;}
.comment-date{display:block; color:#7329c2; margin-top:10px; text-transform:uppercase;}
.media-holder .media-body p{margin-top:10px;}
.comment-reply{margin-top:30px;}
.media.inner{margin:50px 0; border-radius:7px;}
.post-comments{background:#fff; border-radius:4px; -webkit-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); -moz-box-shadow:0 8px 40px -5px rgba(9,31,67,.1); box-shadow:0 8px 40px -5px rgba(9,31,67,.1);}
/* [03] Start Pricing plan style 3 */
.plan-style-3{margin:auto; text-align:center; background-color:var(--white); position:relative; border-radius:10px; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3 .bg-blue{background:linear-gradient(to left, #0097e6, #0652DD);}
.plan-style-3 .bg-blue-btn{background:linear-gradient(to right, #0097e6, #0652DD, #0652DD, #0097e6); background-size:300% 100%;}
.plan-style-3 .bg-blue-btn:hover{background-position:100% 0; color:var(--white); box-shadow:0px 20px 20px #eee; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3 .bg-orange{background:var(--primary-one);}
.plan-style-3 .bg-orange-btn{background:var(--primary-one);}
.plan-style-3 .bg-orange-btn:hover{background-position:100% 0; color:var(--white);
background: rgb(81,27,198);
background: linear-gradient(90deg, rgba(122,23,197,1) 100%, rgba(81,27,198,1) 0%); -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3 .bg-green{background:linear-gradient(to left, #00fe89, #02d639);}
.plan-style-3 .bg-green-btn{background:linear-gradient(to right, #00fe89, #02d639, #02d639, #00fe89); background-size:300% 100%;}
.plan-style-3 .bg-green-btn:hover{background-position:100% 0; color:var(--white); box-shadow:0px 20px 20px #eee; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3 .plan-header{padding:30px 0 20px 0; z-index:1; position:relative;}

.plan-style-3 .plan-header h3{width:60%; padding:0px 12px; margin:0px auto 0; border-radius:5px; line-height:40px; font-size:20px; font-weight:400; color:var(--black); text-transform:capitalize;}


.plan-style-3 .plan-header .price{margin:30px auto 0px; line-height:1.5; display:flex; color:#333; align-items:center; justify-content:center; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3 .plan-header .price .price-digit{font-size:48px; font-weight:900; color: var(--primary-one);}
.plan-style-3 .plan-detail{z-index:1; position:relative;}
.plan-style-3 .plan-detail ul{padding:0; list-style-type:none; color:#666;}
.plan-style-3 .plan-detail ul li{padding:5px 0;}
.plan-style-3 .plan-bottom{margin-top:15px; padding:12px 0 50px 0; position:relative; overflow:hidden; color:#000;}
.plan-style-3 .plan-button{padding:10px 18px; font-size:16px; color:var(--white); border:1px solid #111; border:none; border-radius:40px; background-repeat:no-repeat; text-transform:uppercase; text-decoration:none; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.plan-style-3.blue-shadow{border:2px solid #0652DD;}
.plan-style-3.blue-shadow:hover{box-shadow:0px 0px 30px -10px #0652DD; border:2px solid transparent;}
.plan-style-3.active{box-shadow:0px 0px 30px -10px var(--primary-one);}
.plan-style-3.orange-shadow{border:2px solid var(--primary-one);}
.plan-style-3.orange-shadow:hover{box-shadow:0px 0px 30px -10px var(--primary-one); border:2px solid transparent;}
.plan-style-3.green-shadow{border:2px solid #02d639;}
.plan-style-3.green-shadow:hover{box-shadow:0px 0px 30px -10px #02d639; border:2px solid transparent;}
.plan-style-3-bg{width:100%; height:100%; position:absolute; top:0; left:0; border-radius:30px;}
.compatible-images{display: none; }

/******** Services *********/
.service-grids {
    margin: 0 -15px;
}
.servimg{border-radius: 15px 15px 0 0; overflow: hidden;}
.service-grids .grid {
    background-color: #fff;
    padding:30px 35px;
    border: 1px solid #ede8fc;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
	margin-bottom: 30px;
  border-radius:0 0 15px 15px;
  border-top: none;
}
.service-grids .grid .icon{background: #fff;
    width: 100px;
    height: 100px;
    line-height: 100px;
	margin: 0 auto;
    border-radius: 100%;
    text-align: center;}
.service-grids .grid .icon img{width: 70px;}
.service-grids .grid h3 {
    font-size:24px;
    margin:0 0 10px 0;
	line-height: 28px;
}
.service-grids .grid p {
    font-size: 14px;
    margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.service-grids .grid:hover {
        background: var(--primary-one);
}
.service-grids .grid:hover .fi:before, .service-grids .grid:hover h3 a, .service-grids .grid:hover p {
    color: #fff;
}

.service_details p a{text-decoration: none; color: var(--primary-one); font-weight: bold;}
.service_details p a:hover{color: #000;}
.service_details p{font-family: 'Montserrat', sans-serif; font-size: 16px; margin-bottom: 30px;}
.service_details h4{font-weight: 600; color: var(--primary-one);     font-size: 1.5rem;}


.service_details ul{ list-style: none; margin-bottom:30px;}
.service_details ul li{position:relative; padding-left:25px; font-size: 16px; font-family: 'Montserrat', sans-serif; }
.service_details ul li:before{  
	font-family: 'Font Awesome 5 Free'; font-weight: bold;
    content: '\f00c';
    position:absolute; top:0; left:0;
    color:#222222;
}
.service_details ul li{margin-bottom:12px;}



ul.tick{ list-style: none;}
ul.tick li{position:relative; padding-left:25px; font-size: 16px; font-family: 'Montserrat', sans-serif; }
ul.tick li:before{  
	font-family: 'Font Awesome 5 Free'; font-weight: bold;
    content: '\f00c';
    position:absolute; top:0; left:0;
    color:#222222;
}
ul.tick li{margin-bottom:12px;}
.getquoteBx {
    background: var(--primary-one);    
    padding:40px 20px;
    text-align: center;
	border-radius: 5px;
	margin-top:30px;
}
.getquoteBx h4 {
    color: #fff;
    font-size: 30px;
	margin-bottom:20px;
	line-height:32px;
}
.getquoteBx img{max-width:150px; margin-bottom: 15px;}
.getquoteBx p {
    font-size: 14px;
    line-height: 24px;
    color: #777; font-family: 'Montserrat', sans-serif;
}
.getquoteBx .qtbtn{
    display: inline-block;
    color: #000;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	border-radius: 5px;
}
.getquoteBx .qtbtn:hover{background: #000; color: #fff;}
.getquoteBx .orcall {
    color: #fff;
    font-size:18px;
	display: block; margin: 10px 0;
}
.getquoteBx .callbtn{text-decoration: none;
    font-size: 32px;
    font-weight: bold; font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.getquoteBx .callbtn i{font-size: 30px;}
.getquoteBx .callbtn:hover{color: var(--primary-one);}




/* Responsive Design*/
@media (max-width:1546px){.mainmenu{margin-left:0px;}
}
@media (max-width:1348px){ul.nav > li > a{padding:0 5px;}
.contact-menu .primary-btn{border:1px solid var(--primary-one); padding:0 5px;}
.contact-number{margin-right:10px;}
}
@media (max-width:1199px){.navbar-brand{margin-right:0;}
.navbar-brand img{width:160px;}
.contact-menu .icon{margin-right:5px;}
.contact-number span a{font-size:18px;}
.contact-number span{font-size:16px;}
.core-features li .aboutContent h4{font-size:20px;}
.service-box .details .text{min-height:72px;}
.featureWrap .core-features li .aboutContent h4{font-size:15px;}
.featureWrap .core-features li{margin-bottom:20px;}
.featureWrap .core-features li .aboutContent p{font-size:13px; line-height:19px;}
.featureWrap .core-features{margin-top:30px;}
.counterWrap .counter h3{font-size:18px;}
.counterWrap .counter p{min-height:50px;}
.blogWrap .post .post-desc{padding:25px 25px;}
.blogWrap .post .post-title h4{line-height:26px;}
}
@media (max-width:1100px){.contact-menu .primary-btn{display:none;}
}
 @media (max-width:992px){.slicknav_btn{background-color:#333 !important; margin:4px 0 0 0; z-index: 10000000000;}
.innerPages .sidebar{margin-top:30px;}
ul.nav > li > a{padding:0 5px;}
.menu-wrap ul.nav{display:none;}
.slicknav_menu{display:block;}
.contact-menu{margin-right:70px;}
.slicknav_nav{position: fixed;
    top: 0px;
    bottom: 0;
    left: 100%;
    width: 70%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 10000;}
	 
	.slicknav_nav {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
} 
	 
	 .slicknav_nav .slicknav_row, .slicknav_nav a{color: #fff;} 
	 
	 .techlist li{width: 16.6%;}
	 
	 
.bannerWrap{min-height:840px;}
.bannerWrap .section-title{margin-bottom:30px;}
.bannerWrap .section-title h2{font-size:45px; margin-bottom:10px;}
.bannerWrap .section-title p{font-size:18px;}
.about-img{z-index:-1;}
.servieWrap .col-lg-4:nth-child(1){margin-bottom:40px;}
.servieWrap .col-lg-4:nth-child(2){margin-bottom:40px;}
.thinkWrap h2 span{font-size:24px;}
.thinkWrap h2{margin-bottom:20px; font-size:40px;}
.counterWrap .col-lg-3:nth-child(1){margin-bottom:30px;}
.counterWrap .col-lg-3:nth-child(2){margin-bottom:30px;}
.counterWrap .col-lg-3:nth-child(3){margin-bottom:30px;}
.counterWrap .counter p{min-height:auto;}
.counterWrap .counter h3:after{left:44%;}
.gallery-item-content .item-thumbnail img{width:100%;}
.blogWrap .post .post-image img{width:100%;}
.blogWrap .col-lg-4:nth-child(1){margin-bottom:30px;}
.blogWrap .col-lg-4:nth-child(2){margin-bottom:30px;}
footer h3{margin-top:30px;}
}
 @media (max-width:873px){.navbar-brand{margin-right:0;}
.contact-menu{position:absolute; top:5px; left:35%;}
}
 @media all and (min-width:480px) and (max-width:768px){}
@media all and (max-width:767px){.contact-menu .icon, .contact-menu .contact-number{display:none;}
.pd-15, .sm-padding, .xs-padding{padding:10px;}
.navbar-brand{padding:11px 0;}
.menu-wrap ul.nav{display:none;}
.slicknav_menu{display:block;}
.contact-menu{top:7px; left:40%; margin-right:0;}
.bannerWrap .section-title h2{font-size:36px;}
.aboutWrap .section-title h2{margin-bottom:20px; font-size:32px;}
.aboutWrap .section-title h2 span{font-size:32px;}
.section-title h2{margin-bottom:10px; font-size:36px;}
.section-title p{font-size:18px;}
.service-box .details .text{min-height:auto;}
.featureWrap .core-features{margin-top:0px;}
.thinkWrap h2{margin-bottom:0px; font-size:36px;}
.thinkWrap h2 span{font-size:18px;}
.thinkWrap p{padding-bottom:20px; font-size:15px;}
.section-title{margin-bottom:30px;}
.bannerBtn ul li{margin-right:10px;}
.bannerBtn ul li .btn-title{padding-left:8px;}
.bannerBtn ul li .popup-videos{width:50px; height:50px; line-height:50px;}
.core-features li .aboutIconImg{display:block; float:left; width:65px; height:65px; border-radius:50%; border:1px solid var(--primary-one); line-height:60px; text-align:center;}
.core-features li .aboutIconImg img{width:60%;}
.techlist li{width: 20%;}
}
 @media all and (max-width:576px){.subscribe-form{width:100%;}
}
 @media all and (max-width:490px){.navbar a img{width:160px;}
.navbar-brand{margin-right:0;}
.header-btn{margin-right:40px;}
.header-btn-two{padding:0 5px;}
.techlist li{width:33.3%;}
}
 @media all and (max-width:380px){}
